<!-- Area for saving burgers and pressing button to devour -->
    <div class="row justify-content-center">
    <div class="container col-6 text-center">
        {{#each burgers}}
        {{#unless this.devoured}}
        <div>
            <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                <span style="color:red;">{{this.burger_name}}</span>
                <button type="submit" class='burgerAvailable btn btn-sm btn-secondary mt-2'> DEVOUR IT! </button>
            </form>
        </div>
        {{/unless}}
        {{/each}}
    </div>

<!-- Area for rendering devoured burgers -->
    <div class="container col-6 text-center">
        {{#each burgers}}
          {{#if this.devoured}}
            <div class='burgerEaten'>
              <div style="color:red;">
                {{this.burger_name}}
              </div>
            </div>
          {{/if}}
        {{/each}}
    </div>
    </div>

<!-- Area to sumbit new burger order -->
    <div class="row justify-content-center mt-3">
    <div class="col-8 text-center">
        <form action="/burgers" method="POST">
        <input type="text" id="name" name="burger_name" style=" width: 50vw; background-color:white;" 
        placeholder="Super Original Burger">
        <br>
        <button type="submit" class="addBurgerButton btn btn-primary mt-1 mb-2">Submit</button>
        </form>
        <p>Enter a burger you want to eat and click the "Submit" button</p>
    </div>
    </div>